body {
    border: 10px hidden red;
    margin: 0px;
}

#a {
    background-color: bisque;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
}

.b {
    overflow: hidden;
    background-color: gray;

}

.b a {
    float: left;
    color: #f2f2f2;
    padding: 18px 25px;
    text-decoration: none;

}

.b a:hover {
    background-color: aqua;
    color: blue;
}

.column {

    width: 33.33%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:2500px) {
    .column {
        width: 50%;
    }
}

.footer {
    background-color: darkseagreen;
    padding: 20px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-containe {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
}

.flex-containe>div {
    background-color: #f1f1f1;
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-contain {
    display: flex;
    height: 200px;
    background-color: #f1f1f1;
}

.flex-contain>div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

* {
    box-sizing: border-box;
}

.flex-conta {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}

#a {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px black;
}

.c {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: pink;
    border: 1px solid blue;
    padding: 20px;
    font-size: 60px;
    text-align: left;
}

.grid-containe {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-ite {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

#z {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}